* { margin: 0; padding: 0; box-sizing: border-box; }

#barrage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tv-screen {
  width: 748px;
  height: 440px;
  margin-top: 40px;
  border: 1px solid #efe;
	animation: bgColor 8s infinite alternate;
}

@keyframes bgColor {
  0% { background: rgba(177, 81, 49, 0.45); }
	20% { background: rgba(0, 50, 107, .54); }
	40% { background: rgba(145, 16, 222, .38); }
	60% { background: rgba(255, 0, 59, .42); }
	80% { background: rgba(12, 226, 255, .34); }
	100% { background: rgba(92, 171, 95, .58); }
}

.barrage-form {
  width: 420px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.barrage-text, .btn-send, .btn-clean {
  height: 40px;
  margin: 10px;
  border-radius: 4px;
}

.barrage-text {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  padding-left: 10px;
}

.btn-send, .btn-clean {
  width: 45%;
  background: #fff;
}

.btn-send {
  color: #ff5858;
  border: 1px solid #ff5858;
}

.btn-clean {
  color: #042f4b;
  border: 1px solid #042f4b;
}
