* { margin: 0; padding: 0; box-sizing: border-box; }

#damu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) { 
  .tv-screen {
    width: 360px;
    height: 270px;
    margin: 50px 0;
  }
  .damu-form {
    width: 240px;
  }
}

@media (min-width: 768px) { 
  .tv-screen {
    margin: 20px 0;
    width: 720px;
    height: 540px;
  }
  .damu-form {
    width: 400px;
  }
}

.tv-screen {
  position: relative;
  background: white;
  border: 2px solid black;
  border-radius: 28%;
}
.tv-screen:before {
  content: "";
  width: 24px;
  position: absolute;
  border: 1px solid black;
  transform: rotate(30deg);
  top: -8px;
  left: 150px;
}
.tv-screen:after {
  content: "";
  width: 24px;
  position: absolute;
  border: 1px solid black;
  transform: rotate(-30deg);
  top: -8px;
  right: 150px;
}

.damu-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;  
}

.input, .btn-send, .btn-clear {
  height: 40px;
  margin: 5px;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  padding-left: 10px;
}

.btn-send, .btn-clear {
  width: 45%;
  background: #fff;
  border-radius: 4px;
}

.btn-send {
  color: #ff5858;
  border: 1px solid #ff5858;
}

.btn-clear {
  color: #042f4b;
  border: 1px solid #042f4b;
}