/**
 * 
 * 
 * 
 * * * * * * * * * * * * * * * * * * *
 * 
 * 
 * 
 * 
 */




.parent {
    width: 93%;
    height: 240px;
    margin: 20px auto;
    background: purple;
    display: flex;
}

.child {
    color: white;
    background: orange;
    flex: 1;
    margin-right: 10px;
    text-shadow: 1px 1px 1px black;
}

.child:last-child {
  margin-right: 0;
}

.parent, .child {
  border: 5px solid rgba(0,0,0,0.85);
  padding: 10px;
}