<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexbox</title>
    <link rel="stylesheet" href="./flexbox.css">
</head>
<body>
    <p>
        你是是事实上的阿士东i华东师大和等候的话
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nemo harum voluptatum unde quia, pariatur doloremque non odio minus adipisci temporibus, itaque voluptate tempore reprehenderit molestias sapiente vel, nihil debitis!
    </p>
    <p>
        
    </p>
</body>
</html>