<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexbox</title>
    <link rel="stylesheet" href="./flexbox.css">
</head>
<body>
    <div class="parent" id="parent">
        <div class="child"></div>
        <div class="child"></div>
    </div>
    <button id="create">create</button>
    <button id="reset">reset</button>
    <script type="text/javascript">
        let parent = document.getElementById("parent")
        let c = document.getElementById("create");
        let r = document.getElementById("reset");
        
        function createBox() {
            var box = document.createElement('div');
            box.className = 'child';
            parent.appendChild(box);
        }

        c.onclick = createBox;

        r.onclick = function() {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
            createBox();
            createBox();
        }

    </script>
</body>
</html>