@keyframes loading {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    100% {
        width: 40px;
        height: 40px;
        opacity: 0;
    }
}

.loading {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    position: relative;
}

.loading::before,
.loading::after {
    content: '';
    width: 0px;
    height: 0px;
    background: grey;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: loading infinite linear 1.5s;
}

.loading::after {
    animation-delay: 0.75s;
}